$color-background: #fdf6e3;
$color-footer-mobile-1: #eee8d4;
$color-footer-mobile-2: #eee8d4;
$color-background-code: #eee8d4;
$color-border: #666;
$color-meta: #666;
$color-meta-code: #eee8d4;
$color-link: #93a1a1;
$color-text: #657b83;
$color-accent-1: #cb4b16;
$color-accent-2: #dc322f;
$color-accent-3: #d33682;
$color-quote: #93a1a1;
